[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if my_pos and G.jokers.cards[my_pos+1] and not self.getting_sliced and not SMODS.is_eternal(G.jokers.cards[my_pos+1], self) and not G.jokers.cards[my_pos+1].getting_sliced then"
position = "after"
payload = '''   check_for_unlock({ type = "unlock_killjester" })'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if joker_to_destroy and not (context.blueprint_card or self).getting_sliced then '''
position = "at"
payload = '''if joker_to_destroy and not (context.blueprint_card or self).getting_sliced and not SMODS.is_eternal(joker_to_destroy, {madness_check = true}) then
    check_for_unlock({ type = "unlock_killjester" })'''
match_indent = true