[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if G.consumeables.cards[i].ability.consumeable then'''
position = "at"
payload = '''if G.consumeables.cards[i].ability.consumeable and G.consumeables.cards[i].ability.set ~= "Stand" then'''
match_indent = true