[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

[[patches]]
[patches.pattern]
target = "engine/controller.lua"
pattern = "if self.text_input_hook then"
position = "before"
payload = '''
    if Cardsauce.config['enable_EasterEggs'] then
        if key == mgt[mgt_num] then
            if key == "o" then
                G.debug_background_toggle = not G.debug_background_toggle
                mgt_num = 1
            else
                mgt_num = mgt_num + 1
            end
        else
            mgt_num = 1
        end
	end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
G.E_MANAGER:add_event(Event({ --Add bonus chips from this card
                    trigger = 'before',
                    delay = delay,
'''
position = "at"
payload = '''
G.E_MANAGER:add_event(Event({ --Add bonus chips from this card
                    trigger = extra ~= nil and extra.trigger or 'before',
                    delay = delay,
                    blocking = extra ~= nil and extra.blocking or nil,
                    blockable = extra ~= nil and extra.blockable or nil,
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
if specific_vars.nominal_chips then
    localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
end
if specific_vars.bonus_chips then
    localize{type = 'other', key = 'card_extra_chips', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.bonus_chips)}}
end
'''
position = "at"
payload = '''
if card.csau_collab_credit then
    if card.csau_collab_credit.plural then
        localize{type = 'other', key = 'artists', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    else
        localize{type = 'other', key = 'artist', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
    localize{type = 'other', key = card.csau_collab_credit.key, nodes = desc_nodes, vars = card.csau_collab_credit.vars}
else
    if specific_vars.nominal_chips then
        localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
    if specific_vars.bonus_chips then
        localize{type = 'other', key = 'card_extra_chips', nodes = desc_nodes, vars = {specific_vars.bonus_chips}}
    end
end
'''
match_indent = true

# CardArea:emplace()
[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''if location == 'front' or self.config.type == 'deck' then
    table.insert(self.cards, 1, card)
else
    self.cards[#self.cards+1] = card
end'''
position = "at"
payload = '''
if index then
    table.insert(self.cards, index, card)
elseif location == 'front' or self.config.type == 'deck' then
    table.insert(self.cards, 1, card)
else
    self.cards[#self.cards+1] = card
end'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "Jimbo:add_speech_bubble('lq_'..math.random(1,10), nil, {quip = true})"
position = "at"
payload = '''
local range_start = 1
local range_end = 10
if localize('wq_20') then
    range_end = 20
    if G.GAME.selected_back and (G.GAME.selected_back.effect.center.key == "b_csau_vine" or G.GAME.selected_back.effect.center.key == "b_csau_varg") then
        if G.GAME.selected_back.effect.center.key == "b_csau_vine" then
            range_end = 11
        elseif G.GAME.selected_back.effect.center.key == "b_csau_varg" then
            range_start = 10
            range_end = 20
        end
    end
end
Jimbo:add_speech_bubble('lq_'..math.random(range_start, range_end), nil, {quip = true})
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "Jimbo:add_speech_bubble('wq_'..math.random(1,7), nil, {quip = true})"
position = "at"
payload = '''
local range_start = 1
local range_end = 10
if localize('wq_20') then
    range_end = 20
    if G.GAME.selected_back and (G.GAME.selected_back.effect.center.key == "b_csau_vine" or G.GAME.selected_back.effect.center.key == "b_csau_varg") then
        if G.GAME.selected_back.effect.center.key == "b_csau_vine" then
            range_end = 10
        elseif G.GAME.selected_back.effect.center.key == "b_csau_varg" then
            range_start = 10
            range_end = 20
        end
    end
end
Jimbo:add_speech_bubble('wq_'..math.random(range_start,range_end), nil, {quip = true})
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:set_seal(_seal, silent, immediate)"
position = "at"
payload = "function Card:set_seal(_seal, silent, immediate, args)"
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''self:juice_up(0.3, 0.3)
             play_sound(sound.sound, sound.per, sound.vol)'''
position = "after"
payload = '''if args and args.set_func and type(args.set_func) == 'function' then
    args.set_func()
end'''
match_indent = true
times = 2

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "_size = _size or 0.8"
position = "at"
payload = '''local _sizeX = (G.P_TAGS[self.key].width and G.P_TAGS[self.key].width/34 * (_size or 1) * 0.6) or _size or 0.8
local _sizeY = (G.P_TAGS[self.key].height and G.P_TAGS[self.key].height/34 * (_size or 1) * 0.6) or _size or 0.8'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = '''local tag_sprite = SMODS.create_sprite(0, 0, _size*1, _size*1, SMODS.get_atlas((not self.hide_ability) and G.P_TAGS[self.key].atlas or "tags"), (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'''
position = "at"
payload = '''local tag_sprite = SMODS.create_sprite(0, 0, _sizeX*1, _sizeX*1, SMODS.get_atlas((not self.hide_ability) and G.P_TAGS[self.key].atlas or "tags"), (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'''
match_indent = true
times = 1

# Cryptid compatibility version of the above patch:
[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = 'local tag_sprite = Sprite(0,0,_size*1,_size*1,tagatlas, (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'
position = "at"
payload = 'local tag_sprite = Sprite(0,0,_sizeX*1,_sizeY*1,tagatlas, (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = '{n=G.UIT.O, config={w=_size*1,h=_size*1, colour = G.C.BLUE, object = tag_sprite, focus_with_object = true}},'
position = "at"
payload = '{n=G.UIT.O, config={w=_sizeX*1,h=_sizeY*1, colour = G.C.BLUE, object = tag_sprite, focus_with_object = true}},'
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if _ch.restrictions.banned_cards then'''
position = "after"
payload = '''   if type(_ch.restrictions.banned_cards) == 'function' then
        _ch.restrictions.banned_cards = _ch.restrictions.banned_cards()
	end'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if _ch.restrictions.banned_tags then'''
position = "after"
payload = '''
    if type(_ch.restrictions.banned_tags) == 'function' then
        _ch.restrictions.banned_tags = _ch.restrictions.banned_tags()
    end'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if _ch.restrictions.banned_other then'''
position = "after"
payload = '''
    if type(_ch.restrictions.banned_other) == 'function' then
        _ch.restrictions.banned_other = _ch.restrictions.banned_other()
    end'''
match_indent = true
times = 1
