[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

[[patches]]
[patches.pattern]
target = "engine/controller.lua"
pattern = "if self.text_input_hook then"
position = "before"
payload = '''
    if Cardsauce.config['enable_EasterEggs'] then
        if key == mgt[mgt_num] then
            if key == "o" then
                G.debug_background_toggle = not G.debug_background_toggle
                mgt_num = 1
            else
                mgt_num = mgt_num + 1
            end
        else
            mgt_num = 1
        end
	end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
G.E_MANAGER:add_event(Event({ --Add bonus chips from this card
                    trigger = 'before',
                    delay = delay,
'''
position = "at"
payload = '''
G.E_MANAGER:add_event(Event({ --Add bonus chips from this card
                    trigger = extra ~= nil and extra.trigger or 'before',
                    delay = delay,
                    blocking = extra ~= nil and extra.blocking or nil,
                    blockable = extra ~= nil and extra.blockable or nil,
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
if specific_vars.nominal_chips then
    localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
end
if specific_vars.bonus_chips then
    localize{type = 'other', key = 'card_extra_chips', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.bonus_chips)}}
end
'''
position = "at"
payload = '''
if card.csau_collab_credit then
    if card.csau_collab_credit.plural then
        localize{type = 'other', key = 'artists', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    else
        localize{type = 'other', key = 'artist', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
    localize{type = 'other', key = card.csau_collab_credit.key, nodes = desc_nodes, vars = card.csau_collab_credit.vars}
else
    if specific_vars.nominal_chips then
        localize{type = 'other', key = 'card_chips', nodes = desc_nodes, vars = {specific_vars.nominal_chips}}
    end
    if specific_vars.bonus_chips then
        localize{type = 'other', key = 'card_extra_chips', nodes = desc_nodes, vars = {specific_vars.bonus_chips}}
    end
end
'''
match_indent = true